@model IEnumerable<IntegralInvesting.Models.BankAccountViewModel>

@{
    ViewData["Title"] = "Bank Accounts";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-3 mb-2">
    <div><h5>Current Funds in Account: $@ViewData["CurrentUserFunds"]</h5></div>
    <div style="margin-left: 2em">
        @* <a asp-controller="BankAccount" asp-action="DepositFunds" class="btn yellow-button">Deposit Funds</a>
        <a asp-controller="BankAccount" asp-action="WithdrawFunds" class="btn yellow-button">Withdraw Funds</a> *@

        <a class="btn yellow-button" data-modal="" id="btnOpenDepositFundsModal" onclick="OpenDepositFundsModal()">
            Deposit Funds
        </a>
        <a class="btn yellow-button" data-modal="" id="btnOpenWithdrawFundsModal" onclick="OpenWithdrawFundsModal()">
            Withdraw Funds
        </a>
    </div>
</div>

<div style="min-width: fit-content; max-width: 60%; margin-inline: auto;">
    <div class="d-flex justify-content-between mt-5 mb-2">
        <div><h2>Linked Bank Accounts</h2></div>
        <div>
            <a class="btn green-button" data-modal="" id="btnOpenLinkNewBankAccModal" onclick="OpenLinkNewBankAccModal()">
                Link New Account
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td style="width: 0; min-width: fit-content;">
                        <a id="btnRemoveBankAcc" asp-action="RemoveBankAccount" asp-route-id="@item.BankAccountId" class="btn red-button">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Link New Bank Account Modal placeholder -->
<div id="linkNewBankAcc-modal-placeholder" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modal-linkNewBankAcc-content'></div>
        </div>
    </div>
</div>

<!-- Deposit Funds Modal placeholder -->
<div id="depositFunds-modal-placeholder" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modal-depositFunds-content'></div>
        </div>
    </div>
</div>

<!-- Withdraw Funds Modal placeholder -->
<div id="withdrawFunds-modal-placeholder" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modal-withdrawFunds-content'></div>
        </div>
    </div>
</div>

