@{ ViewData["Title"] = "Index"; }

<h4>Browse Stocks</h4>

<!-- Search bar div -->
<div>
    <input name="SearchString" id="searchField" />
    <input type="button" id="btnSubmit" value="Search" class="btn btn-primary" />
</div>

<div class="container">
    <div class="row">
        <!-- Left side of page where initial search results are displayed -->
        <div class="col-5" id=SearchResult>
            <partial name="InitialSearchResultPartial.cshtml" model="new List<StockSearchViewModel>()" />
        </div>
        
        <!-- Right side of page where stock details are displayed -->
        <div class="col-7" id=SearchResultDetail>
            <partial name="SearchResultDetailsPartial.cshtml" model="new StockDetailsViewModel()" />
        </div>
    </div>
</div>

<!-- Purchase Shares Modal placeholder -->
<div id="purchase-modal-placeholder" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='modal-purchase-content'></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Gets the details for a particular stock and displays them on the right side of the page
        function GetSearchResultDetails(searchStringValue, stockNameValue) {
            $.ajax({
                url: "/PurchaseStock/DetailsSearch/",
                type: "get",
                data: { symbol: searchStringValue, stockName: stockNameValue },
                success: function (result) {
                    $('#SearchResultDetail').html(result);
                }
            });
        }

        // Set up Search button so that it calls GetInitialSearchResult() when clicked
        $('#btnSubmit').click(function () {
            let searchStringValue = document.getElementById("searchField").value
            GetInitialSearchResult(searchStringValue);
        });

        // Gets the initial list of search results and displays them on the left side of the page
        function GetInitialSearchResult(searchStringValue) {
            $.ajax({
                url: "/PurchaseStock/InitialSearch/",
                type: "get",
                data: { searchString: searchStringValue },
                success: function (result) {
                    $('#SearchResult').html(result);
                }
            });
        }
    </script>
}

