@model IntegralInvesting.Models.PortfolioStockViewModel
@{
    int CalculateMaxNumberOfShares()
    {
        var currentUserFunds = ViewData["UserFunds"];
        return Convert.ToInt16(Convert.ToDecimal(currentUserFunds) / Model.PurchasePrice);
    }
}

<div class="modal-header">
    <h5 class="modal-title mb-2" id="purchaseStockLabel">Purchase Shares for @Model.Name</h5><br />
</div>
<div class="modal-body">
    <h6>Current Funds in Account: $@ViewData["UserFunds"]</h6>
    <form asp-controller="PurchaseStock" asp-action="PurchaseShares" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <input asp-for="Name" type="hidden" />
        <input asp-for="Symbol" type="hidden" />
        <div class="form-group mb-2">
            <label asp-for="PurchasePrice" class="control-label"></label>
            <input readonly asp-for="PurchasePrice" class="form-control" />
            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="PurchaseQuantity" class="control-label"></label>
            <input type="number" id="purchaseQuantityField" max="@CalculateMaxNumberOfShares()" asp-for="PurchaseQuantity" class="form-control" onchange="CalculatePurchaseTotal('@Model.PurchasePrice')"/>
            <span asp-validation-for="PurchaseQuantity" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PurchaseTotal" class="control-label"></label>
            <input readonly id="purchaseTotalField" asp-for="PurchaseTotal" class="form-control" />
            <span asp-validation-for="PurchaseTotal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn yellow-button" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="btnModalPurchaseSubmit" class="btn green-button" data-save="modal">Purchase</button>
        </div>
    </form>
</div>



