@page
@model IntegralInvesting.Areas.Identity.Pages.Account.Manage.LinkedAccountsModel
@{
    ViewData["Title"] = "Linked Accounts";
    ViewData["ActivePage"] = ManageNavPages.LinkedAccount;
}

<h3>@ViewData["Title"]</h3>
