@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h2>Welcome to Integral Investing </h2>
    
</div>
<div class="align-items-center" style="max-width: 50%; margin-inline: auto;">
    <p>
        <span class="main-green" style="font-weight: bold;">1.) </span>
        Start by linking a bank account on the Bank Accounts page.
    </p>
    <p>
        <span class="main-green" style="font-weight: bold;">2.) </span>
        Once an account has been linked, withdraw funds from that account to be used to purchase shares.
    </p>
    <p>
        <span class="main-green" style="font-weight: bold;">3.) </span>
        Next, navigate to the Purchase page to browse for stocks.
        Once a stock is selected, use the Purchase button to buy shares using funds from your account.
    </p>
    <p>
        <span class="main-green" style="font-weight: bold;">4.) </span>
        After some shares have been purchased, the Portfolio page will display the list of assets that you own.
        It will also display a chart for showing the past week's performance
    </p>
</div>
