<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6880f232-c730-462c-8e07-040209cc5581/resourcegroups/DataAccessAPI1ResourceGroup/providers/Microsoft.Web/sites/DataAccessAPI1</ResourceId>
    <ResourceGroup>DataAccessAPI1ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/6880f232-c730-462c-8e07-040209cc5581/resourceGroups/DataAccessAPI1ResourceGroup/providers/Microsoft.ApiManagement/service/DataAccessAPI1/apis/DataAccessAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dataaccessapi1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>86d77f42-73bc-4df2-983d-828f9f67b4c1</ProjectGuid>
    <MSDeployServiceURL>dataaccessapi1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DataAccessAPI1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DataAccessAPI1</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>