html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Tab Navigatrion for Login/Register */
.login-logout-card .card-header {
    padding 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logut-card .card-body {
    padding: 10px 20px;
}

/* Background color for header throughout the site */
.header-custom {
    background-color: #11A65B;
}

/* Color for primary green buttons - Login, Register, and Link New Account */
.green-button {
    color: white;
    background-color: #11A65B;
    border-color: #11A65B;
}

.green-button:hover {
    color: white;
    background-color: #0C6F3D;
    border-color: #0C6F3D;
}

/* Color for red buttons - Remove button on Bank Accounts page */
.red-button {
    color: white;
    background-color: #F8333C;
    border-color: #F8333C;
}

.red-button:hover {
    color: white;
    background-color: #EC0914;
    border-color: #EC0914;
}

/* Color for yellow buttons - Deposit Funds and Withdraw Funds */
.yellow-button {
    color: white;
    background-color: #F1A208;
    border-color: #F1A208;
}

.yellow-button:hover {
    color: white;
    background-color: #C68606;
    border-color: #C68606;
}

/* Colors for certain headers: H2 elements on the Login and Register pages */
.main-green {
    color: #11A65B;
}